@model IEnumerable<AstarWeb.Models.PoleModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>



@foreach (var item in Model) {
    <div class="Pole">
        <div class="G">@Html.DisplayFor(modelItem => item.G)</div>
        <div  class="H">@Html.DisplayFor(modelItem => item.H)</div>
        <div class="F">@Html.DisplayFor(modelItem => item.F)</div>
        <div class="Rodzic">@Html.DisplayFor(modelItem => item.Rodzic)</div>
    </div>
    if(i%10==0)
    {

    }
}

