@model IEnumerable<AstarWeb.Models.PoleModel>

@{
    ViewData["Title"] = "View";
}
@{
    int DlugoscSiatki = (int)Math.Sqrt(Model.Count());
}



@using (Html.BeginForm("handleButtonClickReset", "Pole"))
{
    <button class="btn-dark" name="buttonNumber" type="submit" asp-controller="Pole" asp-action="handleButtonClickReset" OnClientClick="return false;">RESET</button>
}


<button class="pktStartowy" value="start">Wybierz punkt startowy</button>
<button class="pktKoncowy" value="koniec">Wybierz punkt koncowy</button>
<button class="WyznaczenieTrasy">Wyznaczenie trasy</button>
<button class="DodaniePrzeszkod">Dodaj losowe przeszkody</button>

<input type="number" name="Rozmiar" id="Rozmiar" />
<input type="submit" />





<div class="Siatka">
    @for (int i = 0; i < Model.Count(); i++)
    {// modulo z DlugoscSiatki
        @if (i % DlugoscSiatki == 0)
        {
            <div style="clear:both"></div>

        }






        if (Model.ElementAt(i).Osiagalny == true)
        {
            <div class="oneButton" id="@Model.ElementAt(i).Id">
                <button class="PoleBtn" value="@Model.ElementAt(i).Id">
                    <div class="F">F= @Html.DisplayFor(modelItem => Model.ElementAt(i).F) </div>
                </button>
            </div>
            continue;
        }
        if (Model.ElementAt(i).Osiagalny == false)
        {
            <div id="Model.ElementAt(i).Id" class="PoleP">

            </div>
            continue;
        }



    }
</div>

